# Python Commands

## Logic and Branching

### If, else if, else

In [13]:
x = 1
if x > 0:
    print ('x is larger than zero')
elif x == 0:
    print ('x is exactly zero')
else:
    print ('x is less than zero')

x is exactly zero

### For Loops

In [14]:
x = [1, 2, 3, 4, 5]
for num in x:
    print('Number: ', num)

Number:  1
Number:  2
Number:  3
Number:  4
Number:  5

In [249]:
for num in range(5):
    print('Number: ', num)

Number:  0
Number:  1
Number:  2
Number:  3
Number:  4

In [251]:
i = 1
while i < 6:
    print(i)
    i = i + 1
    if i == 3:
        break

1
2

## Built-in functions
https://docs.python.org/3.7/library/functions.html

Get number of units in object (chars in string, names in list, classes in schedule)

### Length

In [29]:
name_length = len('My Name')
name_length

7

### Type

In [30]:
type(name_length)

int

### Str

Integer can be casted to String

In [31]:
type(str(num))

str

The type cast was not saved

In [32]:
type(num)

int

In [33]:
num = str(num)
type(num)

str

### Range

Range of values
https://docs.python.org/3.7/library/functions.html#func-range

In [40]:
r1 = range(5)
r1

range(0, 5)

In [44]:
for num in r1:
    print(num)

0
1
2
3
4

In [42]:
r2 = range(5,10)
r2

range(5, 10)

In [45]:
for num in r2:
    print(num)

5
6
7
8
9

In [43]:
r3 = range(0,20,2)
r3

range(0, 20, 2)

In [46]:
for num in r3:
    print(num)

0
2
4
6
8
10
12
14
16
18

Functions are chainable

In [47]:
for num in reversed(r3):
    print(num)

18
16
14
12
10
8
6
4
2
0

Different values because r3 was generated forwards, and stopping before stop value is reached

In [48]:
for num in range(20,0,-2):
    print(num)

20
18
16
14
12
10
8
6
4
2

## Functions

Greet a user

In [2]:
print ("Hello, Jeff")

Hello, Jeff

In [6]:
def greet(name):
    print ("Hello,", name)
    
greet("Jeff")
greet("Joe")

Hello, Jeff
Hello, Joe

## Classes

Representation of an Object

In [15]:
class Student:
    name = "Jeff"
    id = 123

In [45]:
stu_1 = Student()  # create a new Student object
stu_1.name         # access attributes of an object through dot notation

'Jeff'

### Methods

A function specific to a class is called a method. 
Here the first method __init__ automatically runs when an object is created. 
The __identify__ method prints the name and id in a specified format.

In [51]:
class Student:
    def __init__(self, name, id):
        self.name = name 
        self.id = id
        
    def identify(self):
        print ("Name: {} (ID: {})".format(self.name, self.id))

In [52]:
stu_2 = Student('Jeff', 456)

In [53]:
stu_2.identify()

Name: Jeff (ID: 456)

We can see the Student object and the memory location it is at. While this can be useful, it will be more useful to see the object in a different format.

In [54]:
stu_2

Like the init method, there is a 'magic'/'dunder' method for string representation.
Available magic methods: https://docs.python.org/3/reference/datamodel.html?highlight=__str__#basic-customization

In [254]:
class Student:
    def __init__(self, name, id):
        self.name = name 
        self.id = id 
        
    def __str__(self):
        return ("ID: {} --> Name: {}".format(self.id, self.name))
        
    def identify(self):
        return ("Name: {} (ID: {})".format(self.name, self.id))

In [257]:
stu_3 = Student("Jeff", 789)
str(stu_3)

'ID: 789 --> Name: Jeff'

In [259]:
stu_3.name = "Jeffrey"
stu_3.__str__()

'ID: 789 --> Name: Jeffrey'

In [65]:
stu_3.identify()

'Name: Jeff (ID: 789)'

### Inheritance


A student can be considered a base class for other classes like Prospective, Enrolled, or Alumni. The Prospective inherits all base attributes, and may override or create new functions and attributes.

In [80]:
class Prospective(Student):
    def __init__(self, name, id, school, load_date):
        super().__init__(name, id)
        self.school = school
        self.load_date = load_date
        
    def __str__(self):
        return ("Name: {}\nID: {}\nSchool: {}\nLoad date: {}".format(
            self.name, 
            self.id,
            self.school,
            self.load_date
        ))
    
    def contact_prospect(self):
        print ("Prospect: {} was contacted on {}".format(
            self.name,
            datetime.now()
        ))

Prospecitve object has a load date that indicates when the student became a prospect. Date objects should be handled as such.

In [81]:
from datetime import datetime
stu_4 = Prospective('Jeff', 222, 'WIU', datetime(2015, 4, 1))
print(stu_4)

Name: Jeff
ID: 222
School: WIU
Load date: 2015-04-01 00:00:00

The Prospective object has access to its own methods,

In [84]:
stu_4.contact_prospect()

Prospect: Jeff was contacted on 2019-07-14 16:05:08.464832

 as well as those of the base class.

In [83]:
stu_4.identify()

'Name: Jeff (ID: 222)'

## Data Structures

### Lists

Ordered, Changable - Duplicates allowed

In [156]:
def reset_majors():
    global majors 
    majors = ['Computer Science', 'Business Analytics', 'Applied Statistics']
reset_majors()
majors

['Computer Science', 'Business Analytics', 'Applied Statistics']

#### Length

In [121]:
len(majors)

4

#### Acessor

In [110]:
majors[0]

'Computer Science'

In [112]:
majors[2] = 'Applied Statistics & Decision Analytics'
majors

['Computer Science',
 'Business Analytics',
 'Applied Statistics & Decision Analytics']

#### Looping / Iteration

In [136]:
for major in majors:
    print (major)

Computer Science
Business Analytics
Applied Statistics

#### Existance

In [137]:
'Business Analytics' in majors

True

#### Item Manipulation

In [147]:
majors.append("MBA")
majors

['Computer Science', 'Business Analytics', 'Applied Statistics', 'MBA']

In [148]:
majors.insert(0, 'Organizational Management')
majors

['Organizational Management',
 'Computer Science',
 'Business Analytics',
 'Applied Statistics',
 'MBA']

In [149]:
majors.remove('MBA')
majors

['Organizational Management',
 'Computer Science',
 'Business Analytics',
 'Applied Statistics']

##### Pop

In [150]:
majors.pop()
majors

['Organizational Management', 'Computer Science', 'Business Analytics']

In [151]:
majors.pop() # this returns an object

'Business Analytics'

In [152]:
majors

['Organizational Management', 'Computer Science']

In [153]:
del majors[1]
majors

['Organizational Management']

#### Clear

In [157]:
majors.clear()
majors

[]

#### Copy

In [163]:
reset_majors()
new_list = majors.copy()
new_list

['Computer Science', 'Business Analytics', 'Applied Statistics']

In [165]:
new_list = list(majors)  # The list() function returns a copy
new_list

['Computer Science', 'Business Analytics', 'Applied Statistics']

#### Sort

In [166]:
new_list.sort()
new_list

['Applied Statistics', 'Business Analytics', 'Computer Science']

### Dictionaries - Unordered, changable, and indexed (key: value) pairs

In [213]:
from datetime import datetime
degrees = {
    'program': 'MS',
    'major': 'Applied Statistics & Decision Analytics',
    'conferred_date': datetime(2019, 5, 10),
    'gpa': 4.0
}
degrees

{'program': 'MS',
 'major': 'Applied Statistics & Decision Analytics',
 'conferred_date': datetime.datetime(2019, 5, 10, 0, 0),
 'gpa': 4.0}

#### Accessor

In [214]:
degrees['program']

'MS'

In [172]:
degrees.get('major')

'Applied Statistics & Decision Analytics'

In [215]:
degrees['credits'] = 30
degrees

{'program': 'MS',
 'major': 'Applied Statistics & Decision Analytics',
 'conferred_date': datetime.datetime(2019, 5, 10, 0, 0),
 'gpa': 4.0,
 'credits': 30}

#### Looping

In [177]:
for item in degrees:  # this will default to keys
    print(item)

program
major
conferred_date
gpa
credits

In [185]:
for item in degrees: 
    print("{}: {}".format(
        item,          # key
        degrees[item]  # value
    ))

program: MS
major: Applied Statistics & Decision Analytics
conferred_date: 2019-05-10 00:00:00
gpa: 4.0
credits: 30

In [188]:
for key, value in degrees.items():  # items will return k/v pair
    print("{}: {}".format(
        key,
        value
    ))

program: MS
major: Applied Statistics & Decision Analytics
conferred_date: 2019-05-10 00:00:00
gpa: 4.0
credits: 30

#### Existance

In [194]:
'gpa' in degrees.keys()  # this is the same
'gpa' in degrees         # as this

True

In [195]:
'MS' in degrees.values()

True

#### Length

In [216]:
len(degrees)

5

#### Copying

In [225]:
new_degrees = degrees.copy()

In [226]:
new_degrees = dict(degrees)  # returns a copy

#### Constructor

In [229]:
from datetime import datetime
new_ms = dict(program='MS', major='Computer Science',
              conferred_date=datetime(2015,7,27),
              gpa=4.0, credits=33)
new_ms

{'program': 'MS',
 'major': 'Computer Science',
 'conferred_date': datetime.datetime(2015, 7, 27, 0, 0),
 'gpa': 4.0,
 'credits': 33}

#### Removal

In [218]:
new_degrees.pop("gpa")
new_degrees

{'program': 'MS',
 'major': 'Applied Statistics & Decision Analytics',
 'conferred_date': datetime.datetime(2019, 5, 10, 0, 0),
 'credits': 30}

In [219]:
del new_degrees['credits']
new_degrees

{'program': 'MS',
 'major': 'Applied Statistics & Decision Analytics',
 'conferred_date': datetime.datetime(2019, 5, 10, 0, 0)}

In [220]:
new_degrees.clear()
new_degrees

{}

In [221]:
del new_degrees

### Tuples - Orderred and unchangable

In [90]:
courses = ('CS 101', 'CS 201', 'CS 301', 'CS 401')
courses

('CS 101', 'CS 201', 'CS 301', 'CS 401')

#### Accessor

In [230]:
courses[2]

'CS 301'

#### Loop

In [231]:
for course in courses:
    print(course)

CS 101
CS 201
CS 301
CS 401

#### Existance

In [232]:
'CS 201' in courses

True

#### Length

In [233]:
len(courses)

4

#### Modifiers

Tuples are immuatable, items cannot be added, reassigned, or removed

### Sets - Unordered and Unindexed

In [246]:
languages = {'python', 'javascript', 'SQL', 'Easytrieve'}
languages

{'Easytrieve', 'SQL', 'javascript', 'python'}

#### Accesors

Sets are unordered, and do not support indexes

#### Looping

In [234]:
for lang in languages:
    print (lang)

Easytrieve
SQL
javascript
python

#### Existance

In [235]:
'python' in languages

True

#### Modifiers

Changing Items - not supported

##### Add

In [236]:
languages.add('COBOL')
languages

{'COBOL', 'Easytrieve', 'SQL', 'javascript', 'python'}

In [241]:
languages.update(["R", "SAS", "Bash"])
languages

{'Bash', 'COBOL', 'Easytrieve', 'R', 'SAS', 'SQL', 'javascript', 'python'}

#### Length

In [242]:
len(languages)

8

#### Removal

In [243]:
languages.remove("Bash")
languages

{'COBOL', 'Easytrieve', 'R', 'SAS', 'SQL', 'javascript', 'python'}

#### Clear

In [247]:
languages.clear()
languages

set()

## Lambda Expressions

An abstracted object. Just-in-time functions.

In [107]:
x = lambda y: y + 2
x(7)

9

In [108]:
x(-1)

1

In [93]:
def mult_add(n):
    return lambda a: a * n + n

In [96]:
mult_add_2s = mult_add(2)
mult_add_2s(10)

22

In [97]:
mult_add_5s = mult_add(5)
mult_add_5s(10)

55